.divider {
  background-color: var(--muted-light);
  height: calc(var(--spacer-quarter) / 4);
  width: 100%;
}

.input-title {
  font-size: calc(var(--spacer) * 1.25);
  font-weight: 300;
}

.modal-background {
  background-color: rgba(80, 80, 80, .6);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.modal-content {
  background-color: var(--background);
  border-radius: var(--spacer-half);
  box-shadow: 0 0 var(--spacer-half) 0 var(--background);
  min-height: var(--spacer);
  overflow-y: scroll;
  scrollbar-width: none;
  z-index: 11;
}
.modal-content-mobile {
  max-width: calc(var(--spacer) * 30);
  width: calc(100% - var(--spacer));
}
.modal-content-web {
  width: calc(var(--spacer) * 30);
}
.modal-title {
  color: var(--accent);
  font-size: calc(var(--spacer) * 2);
  font-weight: 300;
}
