:root {
  --accent: #1e7878;
  --accent-light: #53acac;
  --negative: #aa2111;
}

.divider {
  background-color: var(--muted-light);
  height: calc(var(--spacer-quarter) / 4);
  width: 100%;
}

.input-title {
  font-size: calc(var(--spacer) * 1.25);
  font-weight: 300;
}

.modal-title {
  color: var(--accent);
  font-size: calc(var(--spacer) * 2);
  font-weight: 300;
}
